@import '../../global.less';

.task-selector {
  min-width: 420px;
  overflow-x: scroll;

  &__title {
    box-sizing: border-box;
    padding: 16px;
  }

  &__content {
    box-sizing: border-box;
    padding: 0 16px !important;
    padding-top: 0 !important;
    overflow: scroll;
  }
}

.tree-view {
  &__item__label {
    box-sizing: border-box;
    border-radius: @border-radius;
    padding: 6px 10px !important;
    border: 1px solid transparent;
    min-width: 400px;
    transition: all @transition-duration;
  }

  &__item--selected > div > &__item__label {
    background-color: #eee !important;
    border: 1px solid @border-color;
    transition: all @transition-duration;
  }
}
