@import '../../global.less';

.app-home {
  &__page {
    box-sizing: border-box;
    flex-grow: 1;
    flex-shrink: 0;
    min-height: 700px;
    overflow-y: scroll;
    padding-top: 60px;
    padding-bottom: 32px;
    padding-left: 320px;

    &.small-width {
      padding-left: 0;
    }
  }

  &__nav {
    box-sizing: border-box;
    height: 64px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: @gray-26;
    min-width: 540px;
    overflow-x: visible;
    border-bottom: 1px solid @border-color;

    .nav-button {
      border: 1px solid transparent;
      border-color: transparent !important;
      font-size: 10px !important;
      padding: 3.5px 12px;

      &:hover {
        border-color: @border-color !important;
        background-color: @bg-color-hover !important;
      }
    }

    &.small-width {
      padding-left: 20px;
    }

    &__center {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      flex-grow: 1;
      flex-basis: 60%;
    }

    &__left,
    &__right {
      box-sizing: border-box;
      flex-basis: 12%;
      display: flex;
      flex-shrink: 1;
      flex-grow: 0;
      align-items: center;

      .icon-button {
        border-radius: @border-radius;
        transition: all @transition-duration-more-faster;

        &:hover {
          background-color: rgba(255, 255, 255, .2);
          color: @white;
          transition: all @transition-duration-more-faster;
        }
      }
    }

    &__left {
      justify-content: flex-start;

      .app-logo {
        margin-right: 10px;
      }
    }

    &__right {
      justify-content: flex-end;

      img.avatar {
        width: 28px;
        height: 28px;
        border-radius: 14px;
      }
    }

    .app-popup__trigger-wrapper > button {
      margin: 0 5px;
      color: @white;
    }

    &__pills {
      box-sizing: border-box;
      margin: 5px;
      padding: 2px;
      border-radius: @border-radius;
      background-color: @bg-color-selected;

      > button {
        padding: 0;
        border: 0 !important;
        background-color: transparent;

        &:hover {
          background-color: transparent;
        }

        &:last-child {
          border-left: 0;
        }

        .nav-link {
          display: inline-block;
          box-sizing: border-box;
          padding: 0 20px;
          min-width: 75px;
          font-size: 10px;
          text-decoration: none;
          color: inherit;
          font-weight: inherit;
          cursor: pointer;
          transition: all @transition-duration;
          border-radius: 3px;

          &:hover {
            background-color: @bg-color-hover;
            transition: all @transition-duration;
          }

          &:visited {
            text-decoration: none;
          }

          &.active {
            background-color: @white;
            font-weight: bold;
            box-shadow: @box-shadow;
          }
        }
      }
    }
  }

  &__sidebar {
    box-sizing: border-box;
    border-right: 1px solid @border-color;
    width: 320px !important;
    min-width: 320px !important;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    position: relative;

    .app-logo {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    &.sticky {
      box-shadow: @box-shadow-focus !important;
    }

    &__header {
      box-sizing: border-box;
      padding: 15px 10px;
      display: flex;
      justify-content: space-between;
      flex-grow: 0;
      flex-shrink: 0;

      .right-controls-wrapper {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        font-size: 22px;
        font-weight: 700;
        flex-grow: 1;

        .button {
          font-weight: 700;

          &[disabled],
          &[disabled=true] {
            color: #999;
          }
        }
      }
    }

    &__input {
      box-sizing: border-box;
      padding: 15px;
      flex-grow: 0;
      flex-shrink: 0;

      .input {
        width: 100%;
      }
    }

    &__menu {
      box-sizing: border-box;
      padding: 10px 0;
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: scroll;
      outline: 0;

      .item {
        padding: 0;

        &:hover {
          background-color: inherit !important;
        }

        .content {
          box-sizing: border-box;
          width: 100%;
          padding: 10px 42px;
          border: 1px solid transparent;
          outline: 0;
          border-left: 0;
          border-right: 0;
          display: flex;
          background-color: transparent;
          justify-content: flex-start;
          align-items: center;
          position: relative;
          cursor: pointer;

          p {
            font-size: 13px;
          }

          &:hover {
            .delete {
              display: block;
            }
          }

          &__icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: #999;

            &.list {
              left: 16px;
            }

            &.delete {
              right: 10px;
              color: #c0c0c0;
              font-weight: 400;
              display: none;
            }
          }

          &.current {
            background-color: @bg-color-selected;
            border: 1px solid @border-color;
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }
  }

  &__notifications {
    box-sizing: border-box;
    width: 420px;
    border-left: 1px solid @border-color;
    box-shadow: @box-shadow-focus !important;
    display: flex;
    flex-direction: column;

    * {
      box-sizing: border-box;
    }

    &__header {
      width: 100%;
      padding: 20px;
      text-align: center;
      flex-grow: 0;
      flex-shrink: 0;
    }

    &__content {
      width: 100%;
      padding: 20px 10px;
      flex-grow: 1;
      flex-shrink: 1;
      min-height: 500px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      &.empty {
        justify-content: center;
        align-items: center;
        color: @bg-color-empty;
        user-select: none;

        img.illustrator {
          width: 180px;
        }

        h1, h2 {
          margin: 5px 15px;
          font-weight: normal;
        }

        h1 {
          margin-top: 42px;
          font-size: 16px;
        }

        h2 {
          font-size: 14px;
        }
      }
    }
  }

  &__footer-nav {
    box-sizing: border-box;
    padding: 0 10px;
    position: fixed;
    height: 32px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid @border-color;
    z-index: 2;
    background-color: @white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-button {
  padding: 0;

  .link {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    min-width: initial;
  }
}

.link, .link:visited {
  display: block;
  text-decoration: none;
  color: inherit;
  min-width: 180px;
  position: relative;
}

.app-menu-item {
  box-sizing: border-box !important;
  max-width: 180px !important;
  padding: 10px 20px !important;
  font-size: 13px !important;

  * {
    font-size: 13px !important;
  }
}

.popup-menu-wrapper {
  border: 1px solid @border-color !important;
}
