@import '../../global.less';

.react-datepicker-popper {
  margin: 0 !important;
}

.date-picker__popup {
  box-sizing: border-box;
  margin-top: 5px;
  border: 1px solid @border-color;
}

.date-picker-component {
  border-color: @bg-gray;
  border-radius: @border-radius;
  user-select: none;

  & * {
    user-select: none;
    outline: none;
  }

  .react-datepicker {
    &__header {
      background-color: #fff;
      border-bottom: 0;
    }

    &__day {
      border: 1px solid transparent;

      &,
      &-name {
        width: 40px;
        height: 40px;
        line-height: 40px;
        transition: all @transition-duration;

        &:hover {
          transition: all @transition-duration;
        }

        &--selected,
        &--in-range,
        &--in-selecting-range,
        &--keyboard-selected {
          background-color: #eee;
          color: inherit;
          border: 1px solid #ddd;
        }

        &--in-selecting-range {
          background-color: #f0f0f0;
        }
      }
    }

    &__triangle {
      display: none;
    }

    &__current-month {
      padding: 10px 0;
      font-weight: normal;
    }

    &__navigation {
      top: 20px;
    }
  }
}

.app-date-picker {
  box-sizing: border-box;

  &__controls {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
