@import '../../global.less';

.react-datepicker-popper {
  margin: 0 !important;
}

.date-picker-component {
  border-color: @bg-gray;
  border-radius: @border-radius;
  user-select: none;

  & * {
    user-select: none;
    outline: none;
  }

  .react-datepicker__header {
    background-color: #fff;
    border-bottom: 0;
  }

  .react-datepicker__day,
  .react-datepicker__day-name {
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: all @transition-duration;

    &:hover {
      transition: all @transition-duration;
    }

    &--selected,
    &--in-range,
    &--in-selecting-range,
    &--keyboard-selected {
      background-color: #e0e0e0;
      color: inherit;
    }

    &--in-selecting-range {
      background-color: #f0f0f0;
    }
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__current-month {
    padding: 10px 0;
  }

  .react-datepicker__navigation {
    top: 20px;
  }
}

.app-date-picker {
  box-sizing: border-box;

  &__controls {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
