@import './global.less';

input,
textarea {
  &::placeholder {
    color: @text-color-gray;
  }
}

#root {
  display: flex;
}

hr {
  outline: 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-color: @divider-color;
}

.app-button {
  font-weight: normal !important;
  border-color: @border-color !important;
  box-shadow: none !important;

  &--link {
    font-weight: normal !important;
    color: @cyan !important;

    &:hover {
      background-color: inherit !important;
    }
  }
}

.mui-ripple-circle {
  display: none;
}

.app-input-underline {
  display: none;
}

.small-width {
  padding-left: 0;
}

.app-textfield {
  box-sizing: border-box;
  padding: 10px 15px;
  font-size: 13px;
  box-shadow: none;
  border: 0;
  outline: 0;
  border-radius: @border-radius;
  border: 1px solid @border-color;
  transition: all @transition-duration;

  &:focus {
    border: 1px solid @border-color-focused;
    transition: all @transition-duration;
  }
}
