@import './global.less';

input,
textarea {
  &::placeholder {
    color: @text-color-gray;
  }
}

#root {
  display: flex;
}

hr {
  outline: 0;
  border: 0;
  height: 1px;
  width: 100%;
  background-color: #eee;
}
