@import '../../global.less';

.icon-button {
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 16px;
  color: #c0c0c0;
  cursor: pointer;
  background-color: transparent;
  font-weight: bold;
  transition: all @transition-duration;

  &:hover {
    transition: all @transition-duration;
    color: #a0a0a0;
  }

  &[disabled=true] {
    color: #eee;
  }
}
