@import '../../global.less';

.app-popup {
  box-shadow: @box-shadow-focus;
  background-color: #fff;
  border: 1px solid @bg-gray;
  overflow: visible;
  border-radius: @border-radius;

  &__popup-wrapper--paper {
    box-shadow: @box-shadow-focus;
    border: 1px solid #f0f0f0;
    overflow: visible;
  }

  &__popup-wrapper {
    &__content {
      position: relative;
    }
  }
}

.triangle {
  position: fixed;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: red;
  z-index: 9999;
}
