@import '../../global.less';

.parent {
  display: flex;
}

.half {
  flex: 1;
}

.task-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  background-color: @bg-gray;
  border-radius: @border-radius;
  border: 1px solid @border-color;
  width: 100%;

  &.empty {
    justify-content: center;
    align-items: center;
    color: @text-color-gray;
    font-size: 16px;
  }

  .task-items {
    background-color: #fff;
    border-radius: @border-radius;
    border: 1px solid @border-color;
    box-shadow: @box-shadow;
    max-height: calc(100% - 2px);
    overflow: scroll;

    & > div:last-child {
      & .task-item-wrapper {
        border-bottom-left-radius: @border-radius;
        border-bottom-right-radius: @border-radius;

        .task-item__content {
          border-bottom: 0;
        }
      }
    }
    & > div:first-child {
      & .task-item-wrapper {
        border-top-left-radius: @border-radius;
        border-top-right-radius: @border-radius;
      }
    }
  }

  &__title-bar {
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .title-input {
      border: 0;
      outline: 0;
      flex-grow: 1;
      background-color: transparent;
      margin-left: 5px;
      transform: translateY(1px);
      font-size: 16px;
      color: @text-color;
      font-weight: 400;
      box-shadow: none;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__items-wrapper {
    box-sizing: border-box;
    width: 100%;
    padding: 0 25px;
    background-color: transparent;
    overflow: scroll;
    flex-grow: 1;

    .loading {
      box-sizing: border-box;
      height: 200px;
      font-size: 16px;
      color: @text-color-gray;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .no-content {
      box-sizing: border-box;
      margin-top: 48px;
      width: 100%;
      height: 200px;
      text-align: center;
      user-select: none;
      color: @text-color-gray;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      h1 {
        margin: 0;
        font-size: 16px;
      }

      h2 {
        margin: 0;
        font-size: 14px;
      }

      h1, h2 {
        margin: 15px;
        font-weight: normal;
      }

      > .illustrator {
        width: 100px;
        flex-shrink: 1;
      }
    }
  }

  &__controls-wrapper {
    box-sizing: border-box;
    padding: 15px 25px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    .add-task,
    .edit-description {
      box-sizing: border-box;
      display: none;
      padding-bottom: 0;
      transition: all @transition-duration;

      &.show {
        display: flex;
        padding-bottom: 15px;
        transition: all @transition-duration;
      }
    }

    .add-task {
      .textfield {
        box-sizing: border-box;
        flex-grow: 1;
        font-size: 13px;
        height: 36px;
        border: 1px solid @border-color;
        transition: all @transition-duration;
      }
    }

    .edit-description {
      .textfield {
        box-sizing: border-box;
        width: 100%;
        outline: 0;
        border: 0;
        resize: none;
        height: 100px;
        font-size: 13px;
        border: 1px solid @border-color;
        padding: 15px;
        box-shadow: @box-shadow;
        border-radius: @border-radius;
        transition: all @transition-duration;

        &:focus {
          box-shadow: @box-shadow-focus;
          transition: all @transition-duration;
        }
      }
    }

    .buttons button {
      margin-right: 10px;

      &.active {
        background-color: @bg-selected-color;
      }
    }
  }

  &__header {
    padding: 0 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > div {
      flex-shrink: 1;
      flex-grow: 0;
    }

    &__status {
      width: 100%;
      margin-top: 10px;
    }
  }

  &__buttons {
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    & .add-task-content {
      flex-grow: 1;
      font-size: 13px;
      border: 1px solid @border-color;
    }
  }

  &__badge {
    height: 21px;
    font-size: 12px;
  }

  &__status-text {
    font-size: 12px;
  }
}
